.navbar {
	background: transparent !important;
	box-shadow: none;
	// position: sticky;
	top: 0;
	// background: $bg-color;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	#logo {
		min-width: 150px;
		max-height: 40px;
	}
	.halucinate {
		/* -webkit-animation: change-col 2s infinite linear; */
		animation: change-col 5s linear infinite;
	}
	.nav-link {
		line-height: 2em;
		font-size: 1.75rem;
		font-weight: 300;
		color: $secondary-color !important;
		margin: 0.5rem 0 0 0;
		padding: 0.5rem 1rem;
		padding-top: 0;
		&.active {
			border-bottom: 0.1rem solid $primary-color;
		}
	}

	.floating-buttons {
		position: fixed;
		top: 1rem;
		right: 1rem;
	}
	.theme-changer,
	.navbar-toggler {
		z-index: 3;
		background-color: none;
		padding: 0.5em 1em;
		margin: 0 0.5em;
		svg {
			fill: $primary-color;
		}
		&:hover,
		&:active,
		&:focus {
			background: none;
		}
	}

	.mobile-nav-container {
		// display: block;
		position: fixed;
		top: 0;
		left: 0;
		.mobile-nav-backdrop {
			clip-path: circle(90vh at center);
			transition: 0.3s;
			opacity: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 100vw;
			height: 100vh;
			background: transparentize($color: $bg-color, $amount: 0.1);
			a {
				text-align: center;
				font-weight: bold;
				color: $primary-color !important;
				&.active {
					border-bottom: 0.5rem solid $primary-color;
				}
			}
		}
		&.hide {
			visibility: hidden;
			.mobile-nav-backdrop {
				transition: 0.3s;
				opacity: 0;
				clip-path: circle(0 at center);
			}
		}
	}
}

@keyframes nav {
	0% {
		opacity: 0;
		// scale: 0;
	}
	100% {
		opacity: 1;
		// scale: 1;
		// rotate: 360deg;
	}
}
