.navbar {
	background: transparent !important;
	box-shadow: none;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	#logo {
		min-width: 150px;
		max-height: 40px;
	}
	.halucinate {
		/* -webkit-animation: change-col 2s infinite linear; */
		animation: change-col 5s linear infinite;
	}
	.nav-link {
		line-height: 2em;
		font-size: 1.75rem;
		font-weight: 300;
		color: $secondary-color !important;
		margin: 0.5rem 0 0 0;
		padding: 0.5rem 1rem;
		padding-top: 0;
		&.active {
			border-bottom: 0.1rem solid $primary-color;
		}
	}

	.theme-changer {
		position: fixed;
		top: 1rem;
		right: 2rem;
	}

	.navbar-collapse,
	.collapse {
		display: none !important;
	}

	.mobile-nav-container {
		display: none;
		.mobile-nav-backdrop {
			opacity: 0;
		}
		&.show {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			.mobile-nav-backdrop {
				transition: 0.3s;
				opacity: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				width: 100vw;
				height: 100vh;
				background: transparentize($color: $secondary-color, $amount: 0.1);
				// animation: ease-in-out nav 0.3s forwards;
				a {
					text-align: center;
					font-weight: bold;
					color: $primary-color !important;
					&.active {
						border-bottom: 0.5rem solid $primary-color;
					}
				}
			}
		}
	}
	.navbar-toggler {
		z-index: 3;
	}
}

@keyframes nav {
	0% {
		opacity: 0;
		// scale: 0;
	}
	100% {
		opacity: 1;
		// scale: 1;
		// rotate: 360deg;
	}
}
