.contact-page {
	.container.center {
		flex-direction: column;
		// screen <1400
		@media screen and (max-width: 1400px) {
			max-width: 800px;
		}
		// screen >1400
		@media screen and (min-width: 1400px) {
			max-width: 1000px;
		}
	}
	header.contact {
		font-size: 4rem;
		font-weight: 300;
		margin: 0.5em 0;
	}

	.contact-div {
		margin: 1em 2em !important;
		flex-direction: column;
		font-size: 1.5rem;
		font-weight: 300;
		.lh-less {
			line-height: inherit;
		}
		.contact-reasons {
			align-self: flex-start;
			line-height: inherit;
		}
	}

	a {
		color: $secondary-color;
		text-decoration: none;
		&:hover {
			color: $primary-color;
		}
	}

	#socials {
		margin: auto;
		width: fit-content;
		figure {
			display: inline-block;
			width: auto;
			margin: auto;
			padding: 1em;
			margin: 0.1em;
			/* position: relative; */
			top: -200px;
			img {
				border-radius: 50%;
				width: 3rem;
				height: 3rem;
				-webkit-animation: rotation 1s infinite linear;
				animation: rotation 1s infinite linear;
				&:hover {
					rotate: 15deg;
					transition: 0.1s;
				}
			}
		}
	}
}
