.home {
	.intro-container {
		flex-direction: column;
		transform: translateY(-20%);
		@media only screen and (max-width: 600px) {
			transform: translateY(-40%);
		}
		@media only screen and (max-width: 360px) {
			transform: translateY(-10%);
		}
	}
	.part1 {
		display: flex;
		justify-content: center;
	}
	.part1,
	.part2 {
		flex-direction: column;
		header {
			margin-top: 0;
			font-size: 3rem;
			margin-bottom: 2rem;
			img {
				width: 2.75em;
				@media only screen and (max-width: 600px) {
					width: 4em;
				}
				height: auto;
				display: block;
				margin: auto;
			}
		}
	}

	.button-cta {
		background: $primary-color;
		width: 8em;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		padding: 0.5em;
		margin: 2em 1em 0 1em;
		border: none;
		border-radius: 0.5em;
		transition: 0.2s;
		cursor: pointer;
		font-size: 1.3rem;
		&:hover {
			background: transparentize($primary-color, 0.5);
			color: lighten($secondary-color, 40);
			box-shadow: 6px 3px 8px 0px transparentize($color: $primary-color, $amount: 0.9);
			transition: 0.2s;
			text-decoration: none;
		}
	}
	a {
		color: $secondary-color;
		text-decoration: none;
		&:hover {
			color: $primary-color;
		}
	}
	.hi {
		font-size: 5rem;
		font-weight: 300;
	}
	p.bio {
		line-height: 2em;
		font-size: 1.3rem;
		@media only screen and (max-width: 600px) {
			font-size: 1.4rem;
		}
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.rocket {
		width: 55px;
		position: fixed;
		bottom: 5px;
		left: 15px;
		// z-index: 1;
		cursor: pointer;
	}
}
