.work {
	header {
		text-align: center;
		font-size: 4rem;
		margin-bottom: 1em;
		margin-top: 0.75em !important;
		font-weight: 300;
		color: $primary-color;
		background: transparentize($color: $primary-color, $amount: 0.8);
		border-radius: 1rem;
		border: $primary-color solid;
		border-bottom: unset;
		border-top: unset;
	}
	.projects {
		font-size: 1.25rem;
		@media only screen and (max-width: 600px) {
			font-size: 1.5rem;
		}
		padding: 1em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		$size: 10em;
		figure {
			border-radius: 50%;
			margin: 1em auto;
			text-align: center;
			width: $size;
			flex: 0 0 33%;
			a {
				text-decoration: none;
				color: $secondary-color;
				font-weight: 300;
				&:hover {
					color: $primary-color;
				}
			}
			img {
				flex: 0 0 33%;
				border-radius: 50%;
				width: $size;
				height: $size;
				object-fit: cover;
				border: 1px white;
				/* border-style: dashed; */
				transition: 0.2s;
				transition-delay: 0.2s;

				box-shadow: 0px 0px 20px 2px transparentize($color: $primary-color, $amount: 0.7);
				&:hover {
					rotate: 15deg;
					box-shadow: 0px 0px 20px 6px transparentize($color: $primary-color, $amount: 0);
					transition: 0.2s;
				}
			}
			figcaption {
				padding: 1em;
			}
			.link-icons {
				* {
					transition: scale 0.3s;
				}
				svg:hover {
					scale: 1.3;
				}
			}
		}
	}
}
