@import "../assets/styles/chunks/_variables.scss";
.home {
	.intro-container {
		margin-top: 80px;
		flex-direction: column;
	}
	.part1,
	.part2 {
		flex-direction: column;
		header {
			margin-top: 0px;
			font-size: 4rem;
			margin-bottom: 20px;
			img {
				width: 150px;
				height: auto;
				display: block;
				margin: auto;
			}
		}
	}
	.button-cta {
		background: $primary-color;
		width: 180px;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		padding: 0.5rem;
		margin: 2rem 1rem 0 1rem;
		border: none;
		border-radius: 5px;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			background: transparentize($primary-color, 0.5);
			color: lighten($secondary-color, 40);
			box-shadow: 6px 3px 8px 0px #00000052;
			transition: 0.1s;
			text-decoration: none;
		}
	}
	a {
		color: $secondary-color;
		text-decoration: none;
		&:hover {
			color: $primary-color;
		}
	}
	.hi {
		font-size: 5rem;
		font-weight: 300;
	}
	p.bio {
		line-height: 2em;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.rocket {
		width: 55px;
		position: fixed;
		bottom: 5px;
		left: 15px;
		z-index: 10;
		/* animation: shake-slow 2s linear; */
	}
}
