.navbar {
	background: transparent !important;
	box-shadow: none;
	.halucinate {
		/* -webkit-animation: change-col 2s infinite linear; */
		animation: change-col 5s linear infinite;
	}
	.nav-link.active {
		color: #ff7a7a;
		padding-bottom: 0.5rem;
		border-bottom: 0.05rem solid #ff7a7a;
	}
}
