// $scrollbar-color: #4b8dde;
$scrollbar-color: $primary-color;
* {
	box-sizing: border-box;
}

body {
	counter-reset: section;
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: 0.5s;
	line-height: 1.5;
	background: $bg-color;
	color: $secondary-color;
	min-height: 100vh;
}

.main-content {
	min-height: 80vh;
}

// custom scrollbar
::-webkit-scrollbar {
	width: 0.1em;
	height: 0.1em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: $scrollbar-color;
	outline: 1px solid $scrollbar-color;
	border-radius: 0.5em;
}

// for firefox
* {
	scrollbar-width: thin;
	scrollbar-color: $scrollbar-color transparent;
}

.svg-stroke-white {
	svg {
		* {
			stroke: white;
		}
	}
}
.svg-color-white {
	svg {
		* {
			color: white;
		}
	}
}
.svg-fill-white {
	svg {
		* {
			fill: white;
		}
	}
}
.svg-stroke-3 {
	svg {
		* {
			stroke-width: 3;
		}
	}
}

.flex-col {
	flex-direction: column;
}

.z-1 {
	z-index: 1;
}
.z-6 {
	z-index: 6;
}
.z-10 {
	z-index: 10;
}

.no-highlight {
	&:hover,
	&:focus,
	&:active {
		outline: none;
		box-shadow: none;
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
