$background:#282c34;
$foreground:#d7dae0;
$background:#4d78cc;
$foreground:#f8fafd;
$background:#282c34;
$background:#404754;
$background:#21252b;
$insertedTextBackground:#00809b33;
$background:#21252b;
$border:#21252b;
$background:#282c34;
$findMatchBackground:#42557b;
$findMatchBorder:#457dff;
$findMatchHighlightBackground:#6199ff2f;
$foreground:#abb2bf;
$lineHighlightBackground:#2c313c;
$selectionBackground:#67769660;
$selectionHighlightBackground:#ffffff10;
$selectionHighlightBorder:#dddddd;
$wordHighlightBackground:#d2e0ff2f;
$wordHighlightBorder:#7f848e;
$wordHighlightStrongBackground:#abb2bf26;
$wordHighlightStrongBorder:#7f848e;
$foreground:#737984;
$background:#515a6b;
$border:#515a6b;
$background:#ffffffc9;
$foreground:#528bff;
$foreground:#c24038;
$background:#181a1f;
$border:#181a1f;
$tabsBackground:#21252b;
$background:#21252b;
$border:#181a1f;
$activeBackground:#c8c8c859;
$background:#3b4048;
$foreground:#495162;
$background:#21252b;
$foreground:#abb2bf26;
$background:#21252b;
$border:#181a1f;
$selectedBackground:#2c313a;
$foreground:#d19a66;
$foreground:#3b4048;
$background:#21252b;
$focusBorder:#464646;
$background:#1d1f23;
$activeSelectionBackground:#2c313a;
$activeSelectionForeground:#d7dae0;
$focusBackground:#383e4a;
$highlightForeground:#c5c5c5;
$hoverBackground:#292d35;
$inactiveSelectionBackground:#2c313a;
$inactiveSelectionForeground:#d7dae0;
$warningForeground:#d19a66;
$foreground:#c8c8c8;
$background:#21252b;
$background:#1b1d23;
$matchHighlightBackground:#29244b;
$background:#22262b;
$activeBackground:#747d9180;
$background:#4e566660;
$hoverBackground:#5a637580;
$background:#21252b;
$background:#282c34;
$background:#21252b;
$debuggingBackground:#cc6633;
$debuggingBorder:#66017a;
$debuggingForeground:#ffffff;
$foreground:#9da5b4;
$noFolderBackground:#21252b;
$hoverBackground:#2c313a;
$remoteBackground:#4d78cc;
$remoteForeground:#f8fafd;
$activeBackground:#282c34;
$activeForeground:#dcdcdc;
$border:#181a1f;
$hoverBackground:#323842;
$inactiveBackground:#21252b;
$unfocusedHoverBackground:#323842;
$ansiBlack:#3f4451;
$ansiBlue:#4aa5f0;
$ansiBrightBlack:#4f5666;
$ansiBrightBlue:#4dc4ff;
$ansiBrightCyan:#4cd1e0;
$ansiBrightGreen:#a5e075;
$ansiBrightMagenta:#de73ff;
$ansiBrightRed:#ff616e;
$ansiBrightWhite:#d7dae0;
$ansiBrightYellow:#f0a45d;
$ansiCyan:#42b3c2;
$ansiGreen:#8cc265;
$ansiMagenta:#c162de;
$ansiRed:#e05561;
$ansiWhite:#e6e6e6;
$ansiYellow:#d18f52;
$background:#282c34;
$border:#abb2bf;
$foreground:#abb2bf;
$selectionBackground:#abb2bf30;
$foreground:#61afef;
$activeBackground:#282c34;
$activeForeground:#9da5b4;
$inactiveBackground:#21252b;
$inactiveForeground:#6b717d;
$activeBorder:#d7dae0;
$dropBorder:#d7dae0;
$inactiveForeground:#d7dae066;
$foreground:#ffffff;
$activeSelectionForeground:#e0e0e0;
$background:#282c34;
$focusForeground:#e0e0e0;
$foreground:#cccccccc;
$background:#21252b;
$foreground:#ffffff;
$hoverBackground:#4d5565;
$secondaryBackground:#3a3d41;
$secondaryForeground:#ffffff;
$secondaryHoverBackground:#45494e;
$background:#21252b;
$border:#21252b;
$foreground:#f0f0f0;
$errorForeground:#f48771;
$infoForeground:#75beff;
$sourceForeground:#cccccc;
$warningForeground:#d19a66;
$foreground:#cccccc;
$background:#420b0d;
$border:#a31515;
$breakpointCurrentStackframeForeground:#ffcc00;
$breakpointDisabledForeground:#848484;
$breakpointForeground:#e51400;
$breakpointStackframeForeground:#89d185;
$breakpointUnverifiedForeground:#848484;
$continueForeground:#75beff;
$disconnectForeground:#f48771;
$pauseForeground:#75beff;
$restartForeground:#89d185;
$startForeground:#89d185;
$stepBackForeground:#75beff;
$stepIntoForeground:#75beff;
$stepOutForeground:#75beff;
$stepOverForeground:#75beff;
$stopForeground:#f48771;
$boolean:#4e94ce;
$error:#f48771;
$name:#c586c0;
$number:#b5cea8;
$string:#ce9178;
$value:#cccccc99;
$exceptionLabelBackground:#6c2022;
$exceptionLabelForeground:#cccccc;
$stateLabelBackground:#88888844;
$stateLabelForeground:#cccccc;
$valueChangedHighlight:#569cd6;
$descriptionForeground:#ccccccb3;
$diagonalFill:#cccccc33;
$removedTextBackground:#ff000033;
$foreground:#f0f0f0;
$findRangeHighlightBackground:#3a3d4166;
$focusedStackFrameHighlightBackground:#7abd7a4d;
$foldBackground:#6776961d;
$hoverHighlightBackground:#264f7840;
$inactiveSelectionBackground:#67769630;
$lineHighlightBorder:#282828;
$rangeHighlightBackground:#ffffff0b;
$snippetFinalTabstopHighlightBorder:#525252;
$snippetTabstopHighlightBackground:#7c7c7c4d;
$stackFrameHighlightBackground:#ffff0033;
$symbolHighlightBackground:#6199ff2f;
$foreground:#999999;
$dropBackground:#53595d80;
$noTabsBackground:#282c34;
$addedBackground:#587c0c;
$background:#282c34;
$commentRangeForeground:#c5c5c5;
$deletedBackground:#94151b;
$foldingControlForeground:#c5c5c5;
$modifiedBackground:#0c7d9d;
$foreground:#eeeeeeb3;
$foreground:#cccccc;
$statusBarBackground:#282c34;
$foreground:#75beff;
$foreground:#ffcc00;
$foreground:#75beff;
$activeForeground:#737984;
$activeForeground:#4e94ce;
$background:#c24038;
$background:#75beff;
$background:#d19a66;
$addedForeground:#587c0c99;
$border:#7f7f7f4d;
$bracketMatchForeground:#a0a0a0;
$commonContentForeground:#60606066;
$currentContentForeground:#40c8ae80;
$deletedForeground:#94151b99;
$errorForeground:#ff1212b3;
$findMatchForeground:#d186167e;
$incomingContentForeground:#40a6ff80;
$infoForeground:#75beff;
$modifiedForeground:#0c7d9d99;
$rangeHighlightForeground:#007acc99;
$selectionHighlightForeground:#a0a0a0cc;
$warningForeground:#d19a66;
$wordHighlightForeground:#a0a0a0cc;
$wordHighlightStrongForeground:#c0a0c0cc;
$background:#282c34;
$foreground:#abb2bf;
$highlightForeground:#c5c5c5;
$opacity:#000000aa;
$border:#454545;
$foreground:#cccccc;
$errorForeground:#f48771;
$remoteBackground:#4d78cc;
$remoteForeground:#f8fafd;
$prominentBackground:#327e36;
$prominentForeground:#ffffff;
$prominentHoverBackground:#28632b;
$foreground:#cccccc;
$addedResourceForeground:#81b88b;
$conflictingResourceForeground:#6c6cc4;
$deletedResourceForeground:#c74e39;
$ignoredResourceForeground:#8c8c8c;
$modifiedResourceForeground:#e2c08d;
$submoduleResourceForeground:#8db9e2;
$untrackedResourceForeground:#73c991;
$gutterBackgroundColor:#ffffff13;
$gutterForegroundColor:#bebebe;
$gutterUncommittedForegroundColor:#00bcf299;
$lineHighlightBackgroundColor:#00bcf233;
$lineHighlightOverviewRulerColor:#00bcf299;
$trailingLineBackgroundColor:#00000000;
$trailingLineForegroundColor:#99999959;
$foreground:#c5c5c5;
$border:#80808059;
$foreground:#cccccc;
$placeholderForeground:#cccccc80;
$activeBackground:#46464666;
$activeBorder:#007acc00;
$activeForeground:#ffffff;
$errorBackground:#5a1d1d;
$errorBorder:#be1100;
$infoBackground:#063b49;
$infoBorder:#007acc;
$warningBackground:#352a05;
$warningBorder:#b89500;
$newIssueDecoration:#ffffff48;
$deemphasizedForeground:#8c8c8c;
$dropBackground:#383e4a;
$errorForeground:#f88070;
$filterMatchBackground:#6199ff2f;
$invalidItemForeground:#b89500;
$background:#653723;
$noMatchesOutline:#be1100;
$outline:#00000000;
$background:#21252b;
$selectionBackground:#2c313a;
$selectionForeground:#d7dae0;
$separatorBackground:#bbbbbb;
$selectionBackground:#ffffff1a;
$selectionForeground:#9da5b4;
$commonContentBackground:#60606029;
$commonHeaderBackground:#60606066;
$currentContentBackground:#40c8ae33;
$currentHeaderBackground:#40c8ae80;
$incomingContentBackground:#40a6ff33;
$incomingHeaderBackground:#40a6ff80;
$errorHighlight:#ff1212b3;
$findMatchHighlight:#d18616;
$selectionHighlight:#264f78;
$warningHighlight:#d19a66;
$addedBackground:#587c0c;
$deletedBackground:#94151b;
$modifiedBackground:#0c7d9d;
$activeBackground:#747d9140;
$background:#4e566630;
$hoverBackground:#5a637540;
$cellBorderColor:#80808024;
$cellHoverBackground:#80808012;
$cellInsertionIndicator:#464646;
$cellStatusBarItemHoverBackground:#ffffff26;
$cellToolbarSeperator:#80808059;
$focusedCellBackground:#80808024;
$focusedCellBorder:#ffffff1f;
$focusedCellShadow:#00000099;
$focusedEditorBorder:#464646;
$outputContainerBackgroundColor:#80808024;
$activeBackground:#747d9180;
$background:#4e566660;
$hoverBackground:#5a637580;
$foreground:#f48771;
$foreground:#cccccc;
$foreground:#89d185;
$background:#2b3038;
$foreground:#61afef;
$background:#21252b;
$border:#2b3038;
$foreground:#cccccc;
$foreground:#c24038;
$foreground:#75beff;
$foreground:#d19a66;
$background:#282c34;
$border:#80808059;
$dropBorder:#e7e7e7;
$border:#80808059;
$dropBackground:#53595d80;
$activeBorder:#e7e7e7;
$activeForeground:#e7e7e7;
$inactiveForeground:#e7e7e799;
$border:#007acc;
$background:#1b1d23;
$fileForeground:#ffffff;
$lineForeground:#bbbbbb;
$matchHighlightBackground:#ea5c004d;
$selectionBackground:#3399ff33;
$selectionForeground:#ffffff;
$background:#1e1e1e;
$foreground:#ccccccb3;
$foreground:#ffffff;
$border:#3f3f46;
$foreground:#3794ff;
$foreground:#c24038;
$foreground:#75beff;
$foreground:#d19a66;
$background:#0e70c0;
$background:#21252b;
$foreground:#cccccc;
$background:#ffffff1b;
$providerBorder:#454545;
$shadow:#000000;
$findMatchBackground:#6199ff1f;
$checkboxBackground:#21252b;
$checkboxBorder:#21252b;
$checkboxForeground:#f0f0f0;
$dropdownBackground:#21252b;
$dropdownBorder:#21252b;
$dropdownForeground:#f0f0f0;
$dropdownListBorder:#454545;
$headerForeground:#e7e7e7;
$modifiedItemIndicator:#0c7d9d;
$numberInputBackground:#1d1f23;
$numberInputForeground:#cccccc;
$textInputBackground:#1d1f23;
$textInputForeground:#cccccc;
$dropBackground:#53595d80;
$noFolderForeground:#9da5b4;
$activeBackground:#ffffff2e;
$prominentBackground:#00000080;
$prominentForeground:#9da5b4;
$prominentHoverBackground:#0000004d;
$arrayForeground:#cccccc;
$booleanForeground:#cccccc;
$classForeground:#ee9d28;
$colorForeground:#cccccc;
$constantForeground:#cccccc;
$constructorForeground:#b180d7;
$enumeratorForeground:#ee9d28;
$enumeratorMemberForeground:#75beff;
$eventForeground:#ee9d28;
$fieldForeground:#75beff;
$fileForeground:#cccccc;
$folderForeground:#cccccc;
$functionForeground:#b180d7;
$interfaceForeground:#75beff;
$keyForeground:#cccccc;
$keywordForeground:#cccccc;
$methodForeground:#b180d7;
$moduleForeground:#cccccc;
$namespaceForeground:#cccccc;
$nullForeground:#cccccc;
$numberForeground:#cccccc;
$objectForeground:#cccccc;
$operatorForeground:#cccccc;
$packageForeground:#cccccc;
$propertyForeground:#cccccc;
$referenceForeground:#cccccc;
$snippetForeground:#cccccc;
$stringForeground:#cccccc;
$structForeground:#cccccc;
$textForeground:#cccccc;
$typeParameterForeground:#cccccc;
$unitForeground:#cccccc;
$variableForeground:#75beff;
$activeModifiedBorder:#3399cc;
$inactiveForeground:#dcdcdc80;
$inactiveModifiedBorder:#3399cc80;
$unfocusedActiveBackground:#282c34;
$unfocusedActiveForeground:#dcdcdc80;
$unfocusedActiveModifiedBorder:#3399cc80;
$unfocusedInactiveBackground:#21252b;
$unfocusedInactiveForeground:#dcdcdc40;
$unfocusedInactiveModifiedBorder:#3399cc40;
$background:#7f7f7f1a;
$border:#007acc80;
$background:#0a0a0a66;
$activeForeground:#3794ff;
$foreground:#d7ba7d;
$foreground:#ffffff2e;
$indentGuidesStroke:#585858;
$shadow:#000000;
$foreground:#EF596F;
$foreground:#D55FDE;
$foreground:#D19A66;
$foreground:#EF596F;
$foreground:#ABB2BF;
$foreground:#E5C07B;
$foreground:#ABB2BF;
$foreground:#61AFEF;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#D19A66;
$foreground:#89CA78;
$foreground:#ABB2BF;
$foreground:#5C6370;
$foreground:#E5C07B;
$foreground:#61AFEF;
$foreground:#89CA78;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#ABB2BF;
$foreground:#ABB2BF;
$foreground:#61AFEF;
$foreground:#E5C07B;
$foreground:#D19A66;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#ABB2BF;
$foreground:#61AFEF;
$foreground:#E5C07B;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#2BBAC5;
$foreground:#2BBAC5;
$foreground:#2BBAC5;
$foreground:#D19A66;
$foreground:#2BBAC5;
$foreground:#D19A66;
$foreground:#ABB2BF;
$foreground:#D19A66;
$foreground:#2BBAC5;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#D19A66;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#D19A66;
$foreground:#61AFEF;
$foreground:#ABB2BF;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#2BBAC5;
$foreground:#EF596F;
$foreground:#2BBAC5;
$foreground:#D55FDE;
$foreground:#ABB2BF;
$foreground:#D55FDE;
$foreground:#2BBAC5;
$foreground:#D55FDE;
$foreground:#D19A66;
$foreground:#2BBAC5;
$foreground:#D55FDE;
$foreground:#D19A66;
$foreground:#ABB2BF;
$foreground:#61AFEF;
$foreground:#D19A66;
$foreground:#ABB2BF;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#ABB2BF;
$foreground:#E5C07B;
$foreground:#ABB2BF;
$foreground:#E5C07B;
$foreground:#D55FDE;
$foreground:#ABB2BF;
$foreground:#61AFEF;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#E5C07B;
$foreground:#D55FDE;
$foreground:#D19A66;
$foreground:#61AFEF;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#E5C07B;
$foreground:#2BBAC5;
$foreground:#ABB2BF;
$foreground:#ABB2BF;
$foreground:#D19A66;
$foreground:#ABB2BF;
$foreground:#89CA78;
$foreground:#E5C07B;
$foreground:#2BBAC5;
$foreground:#D19A66;
$foreground:#D19A66;
$foreground:#D19A66;
$foreground:#EF596F;
$foreground:#D19A66;
$foreground:#61AFEF;
$foreground:#D19A66;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#61AFEF;
$foreground:#EF596F;
$foreground:#D19A66;
$foreground:#E5C07B;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#ABB2BF;
$foreground:#D19A66;
$foreground:#89CA78;
$foreground:#89CA78;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#D55FDE;
$foreground:#61AFEF;
$foreground:#2BBAC5;
$foreground:#2BBAC5;
$foreground:#EF596F;
$foreground:#D55FDE;
$foreground:#FFFFFF;
$foreground:#ABB2BF;
$foreground:#FFFFFF;
$foreground:#FFFFFF;
$foreground:#FFFFFF;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#89CA78;
$foreground:#2BBAC5;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#E5C07B;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#ABB2BF;
$foreground:#ABB2BF;
$foreground:#F44747;
$foreground:#E5C07B;
$foreground:#61AFEF;
$foreground:#ABB2BF;
$foreground:#D19A66;
$foreground:#D19A66;
$foreground:#61AFEF;
$foreground:#2BBAC5;
$foreground:#D55FDE;
$foreground:#2BBAC5;
$foreground:#D55FDE;
$foreground:#61AFEF;
$foreground:#2BBAC5;
$foreground:#ABB2BF;
$foreground:#ABB2BF;
$foreground:#ABB2BF;
$foreground:#2BBAC5;
$foreground:#2BBAC5;
$foreground:#D19A66;
$foreground:#D19A66;
$foreground:#EF596F;
$foreground:#E5C07B;
$foreground:#ABB2BF;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#61AFEF;
$foreground:#D19A66;
$foreground:#F44747;
$foreground:#D55FDE;
$foreground:#D55FDE;
$foreground:#ABB2BF;
$foreground:#D55FDE;
$foreground:#61AFEF;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#EF596F;
$foreground:#89CA78;
$foreground:#89CA78;
$foreground:#89CA78;
$foreground:#89CA78;
$foreground:#2BBAC5;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#2BBAC5;
$foreground:#D19A66;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#2BBAC5;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#2BBAC5;
$foreground:#EF596F;
$foreground:#89CA78;
$foreground:#EF596F;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#61AFEF;
$foreground:#EF596F;
$foreground:#89CA78;
$foreground:#E5C07B;
$foreground:#D55FDE;
$foreground:#EF596F;
$foreground:#E5C07B;
$foreground:#E5C07B;
$foreground:#2BBAC5;
$foreground:#EF596F;
$foreground:#D55FDE;
$foreground:#2BBAC5;
$foreground:#ABB2BF;
$foreground:#89CA78;
$foreground:#7F848E;
$foreground:#61AFEF;
$foreground:#61AFEF;
$foreground:#D19A66;
$foreground:#FFFFFF;
$foreground:#5C6370;
$foreground:#E5C07B;
$foreground:#EF596F;
$foreground:#ABB2BF;
$foreground:#7F848E;
$foreground:#5C6370;
$foreground:#ABB2BF;