@import "./mixin.scss";

$min_width: 600px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 16px;
// My orignal pallete
$white: white;
$white-blue: #dbf1fb;
$orignal-pink: #ff7a7a;
$pink2: #ef596f;
$kinda-orange: #c2723d;
$editor-green: #89ca78;

$editor-dark: #181a1b;
$black: black;
$slategrey: slategrey;
$grey: grey;
$brownish: #5d2727;
$slate: #5c6370;

// Extra colors
$dark-blue: #232653;
$purple: #ac88bf;
$max-yellow: #fcff4b;
$yale-blue: #044389;
$carrabean-green: #06d6a0;
$calm-dark-blue: #383e56;

html {
	scroll-behavior: smooth;
	@include fluid-type(600px, 1200px, 12px, 18px);
}

.dark {
	$bg-color: $editor-dark;
	$primary-color: $pink2;
	$secondary-color: $white;

	@import "./base.scss";
	@import "./components.scss";
	@import "./pages.scss";
}

.light {
	$bg-color: $white;
	$primary-color: $pink2;
	$secondary-color: $black;

	@import "./base.scss";
	@import "./components.scss";
	@import "./pages.scss";
}

// Good combo
// pallet 1
$bg-color: #181a1b;
$primary-color: #ff7a7a;
$secondary-color: white;

// pallet 2
$bg-color: #dbf1fb;
$primary-color: #c2723d;
$secondary-color: #5d2727;

// pallet 2
$bg-color: #5c6370;
$primary-color: #ef596f;
$secondary-color: #89ca78;

// pallet 2
$bg-color: #181a1b;
$primary-color: #ef596f;
$secondary-color: #89ca78;

// // pallet 2 //total dark
$bg-color: black;
$primary-color: slategrey;
$secondary-color: white;

// // pallet 2 //total dark
$bg-color: white;
$primary-color: grey;
$secondary-color: black;
