.dark {
	$bg-color: #181a1b;
	$primary-color: #ff7a7a;
	$secondary-color: white;

	& {
		@import "./base.scss";
		@import "./main.scss";
	}
}

.light {
	$bg-color: white;
	$primary-color: grey;
	$secondary-color: black;
	& {
		@import "./base.scss";
		@import "./main.scss";
	}
}

// All themes
// pallet 1
$bg-color: #181a1b;
$primary-color: #ff7a7a;
$secondary-color: white;

// pallet 2
$bg-color: #dbf1fb;
$primary-color: #c2723d;
$secondary-color: #5d2727;

// pallet 2
$bg-color: #5c6370;
$primary-color: #ef596f;
$secondary-color: #89ca78;

// pallet 2
$bg-color: #181a1b;
$primary-color: #ef596f;
$secondary-color: #89ca78;

// // pallet 2 //total dark
$bg-color: black;
$primary-color: slategrey;
$secondary-color: white;

// // pallet 2 //total dark
$bg-color: white;
$primary-color: grey;
$secondary-color: black;
